.rental-fleet {
  position: relative;
  padding: 10rem 0;
}
.rental-fleet__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.rental-fleet__car-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}
.rental-fleet__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.rental-fleet__text p {
  width: 70%;
  margin-bottom: 2.1rem;
}
.rental-fleet__car-selections {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.rental-fleet__car-selection-buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 0.2rem;
  justify-content: center;
}
.rental-fleet__car-selection-buttons button {
  font-size: 20px;
  text-align: left;
  padding: 0.75rem;
  font-weight: 600;
  background-color: #f1f3f5;
  color: #000;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.rental-fleet__car-selection-buttons button:hover {
  background-color: var(--blue);
  box-shadow: 0 10px 20px 0 rgba(59, 111, 207, 0.1);
  color: #fff;
}
.rental-fleet__car-image {
  display: flex;
  align-items: center;
  height: 400px;
  max-width: 600px;
  overflow: hidden;
  box-sizing: border-box;
}
.rental-fleet__car-image img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  animation: car-pop 0.5s ease-in-out;
}
@keyframes car-pop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.rental-fleet__car-details {
  display: grid;
  width: 15rem;
  font-size: 16px;
}
.rental-rental-fleet__car-details-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5px;
  border-top: 1px solid black;
}
.rental-rental-fleet__car-details-label {
  font-weight: bold;
}
.rental-rental-fleet__car-details-value {
  text-align: right;
  white-space: nowrap;
}
.rental-fleet__reserve-button,
.rental-fleet__reserve-button a {
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--blue);
  border-style: none;
  color: white;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.rental-fleet__reserve-button:hover {
  box-shadow: 0px 0px 10px 1px var(--blue);
  cursor: pointer;
}
.rental-fleet__car-price {
  text-align: center;
  font-size: 21px;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.rental-fleet__pressed-car {
  background-color: var(--blue);
  color: white;
}
@media screen and (max-width: 1400px) {
  .rental-fleet__car-selections {
    flex-direction: column;
  }
  .rental-fleet__text p {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .rental-fleet__car-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .rental-fleet__car-details {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 600px) {
  .rental-fleet__car-image {
    max-height: 200px;
    max-width: 400px;
  }
}
