.about {
  margin: 12rem auto;
  max-width: 85rem;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about__container--side1 {
  max-width: 40%;
}
.about__container--side1 img {
  width: 100%;
}
.about__container--side2-title {
  text-align: left;
}
.about__container--side2 {
  width: 60%;
}
.about__container--side2-text {
  text-align: left;
}
@media screen and (max-width: 1120px) {
  .about__container {
    flex-direction: column;
    gap: 4rem;
  }
  .about__container--side2 {
    width: 100%;
    text-align: center;
  }
  .about {
    margin: 8rem auto;
  }
  .about__container--side2-title {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .about__container--side1 {
    display: none;
  }
}
