@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
body {
  margin: 140px 250px;
  background-color: rgb(231, 231, 231);
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.212);
  gap: 20px;
  background: #eff0f4;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  transition: 0.4s;
}
.header a:hover {
  color: rgb(0, 85, 241);
  cursor: pointer;
}
.header img {
  max-width: 200px;
}
.header .headerSide2 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .headerSide2:last-child a:last-child {
  border-radius: 30px;
  background: rgb(59, 111, 207);
  padding: 7px 21px;
  color: white;
}


h1 {
  font-size: 3.8rem;
  margin-bottom: 1rem;
}
.bold {
  font-weight: 700;
}
.blue {
  color: rgb(59, 111, 207);
}


.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 150;
}
.heroSide1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

.heroSide1 h1 {
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.2px;
  width: 80%;
}
.heroSide2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: max-content;
}
.heroSide2 img {
  width: 1200px;;
}
.tripPlan {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 11px;
  border-radius: 5px;
  background-color: rgb(59, 111, 207);
  border-style: none;
  color: white;
  box-shadow: 0px 0px 4px 0.5px rgb(59, 111, 207);
  transition: 0.1s;
}
.tripPlan:hover {
  box-shadow: 0px 0px 4px 3px rgb(59, 111, 207);
  cursor: pointer;
}